/** @format */

.checkout {
	padding-top: 20px;
	width: 1170px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 15px;
}

.checkout__uper {
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 15px;
}

.checkout__back {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(173 189 209);
	min-width: 32px;
	min-height: 32px;
	border-radius: 50%;
	fill: rgb(173 189 209);
	transition: 0.3s;
	cursor: pointer;

	&:hover {
		background-color: rgb(173 189 209);
		fill: rgb(255 255 255);
	}
}

.checkout__title {
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 32px;
	font-family: "Raleway", sans-serif;

	color: #5c5c5c;
}

.checkout__wrapper {
	width: 1170px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.checkout__navigation {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 80px;
	margin-left: 80px;
	margin-bottom: 40px;
	&::after {
		position: absolute;
		bottom: -18px;
		content: "";
		display: block;
		width: 100%;
		height: 7px;
		z-index: 101;

		background-color: #f1f5fa;
		border-radius: 6px;
	}
}

.checkout__navigation_item {
	flex: 0 0 33%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	line-height: 21px;
	color: #b8c2d1;
	font-weight: 600;
	text-align: center;

	&--active {
		color: #e87c74;

		&::after {
			position: absolute;
			left: 0;
			z-index: 102;

			bottom: -18px;
			content: "";
			display: block;
			width: 100%;
			height: 7px;
			border-radius: 10px;
			background-color: #ffb7ad;
		}
	}
}
.checkout__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	margin-right: 80px;
	margin-left: 80px;
	.next__step_btn {
		border: 0;
		width: 144px;
		height: 34px;
		font-size: 14px;
		font-family: "Raleway", sans-serif;

		font-weight: 700;
		color: rgb(255 255 255);
		background-color: rgb(246 145 106);
		cursor: pointer;
		&--disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}
}
.checkout__content_wrapper {
	flex: 0 0 33.3%;
	padding: 27px 36px 33px;
	background: #ffffff;
	box-shadow: 0px 4px 25px rgb(186 196 208 / 46%);
	border-radius: 9px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	&--delivery {
		align-items: flex-start;
		flex: 0 0 40%;
	}
	&--result {
		flex: 0 0 80%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		button {
			width: 40% !important;
		}
		.checkout__content_wrapper_items {
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			flex: 0 0 80%;
			gap: 100px;

			.checkout__content_wrapper_item {
				flex: 0 0 70%;
			}
			&::after {
				content: "";
				display: block;
				width: 2px;
				height: 100%;
				background: grey;
				transform: translateX(-50%);
				position: absolute;
				top: 0;
				left: 50%;
				opacity: 0.5;
				z-index: 102;
			}
		}
	}
}

.checkout__content_item {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
	input {
		width: 100%;
		height: 42px;
		border: 1px solid #d8d8d8;
		padding-left: 25px;
		font-family: "Montserrat", sans-serif;
		font-size: 14px;
		line-height: 17px;
		color: #000;
		border-radius: 7px;
		outline: none;
	}
	span {
		font-family: "Raleway", sans-serif;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		color: #8f9aa3;
	}
}

.checkout__content_services {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.checkout__content_title {
	.checkout__step_btns {
		display: flex;
	}
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #8f9aa3;
	margin-bottom: 8px;
}
.checkout__content_services_content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}
.checkout__content_service {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	img {
		margin-left: 10px;
	}
	span {
		margin-left: 10px;
		font-size: 16px;
		font-family: "Raleway", sans-serif;

		color: rgb(181 178 194);
		font-weight: 500;
	}
	&--active {
		pointer-events: none;
		span {
			color: rgb(56 71 98);
		}
		.custom__checkbox {
			transition: none;

			border: solid 5px rgb(2, 141, 216);
		}
	}
}
.checkout__content_deliverplace {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	span {
		padding-left: 13px;
		font-weight: 600;
		font-size: 16px;
		font-family: "Raleway", sans-serif;

		line-height: 19px;
		color: rgb(143 154 163);
	}
}

.checkout__content_dp {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	span {
		font-size: 16px;
		font-family: "Raleway", sans-serif;
		color: rgb(181 178 194);
		font-weight: 500;
		margin-left: 10px;
	}
	&--active {
		pointer-events: none;
		span {
			color: rgb(56 71 98);
		}
		.custom__checkbox {
			transition: none;

			border: solid 5px rgb(2, 141, 216);
		}
	}
}
.checkout__content_deilverplace_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
}
.checkout__content_deliverplace {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.checkout__content_address {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.checkout__content_address_content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
}

.checkout__content_address_item {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;

	span {
		margin-left: 10px;
		font-family: "Raleway", sans-serif;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		color: rgb(143 154 163);
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"] {
		-moz-appearance: textfield; /* Firefox */
	}
	input {
		width: 100%;
		height: 42px;
		border: 1px solid #d8d8d8;
		padding-left: 25px;
		font-family: "Montserrat", sans-serif;
		font-size: 14px;
		line-height: 17px;
		color: #000;
		border-radius: 7px;
		outline: none;
	}
}

.custom__checkbox {
	width: 18px;
	height: 18px;
	border-radius: 100%;
	border: solid 2px rgb(181 178 194);
	cursor: pointer;
	transition: ease all 0.3s;
	&:hover {
		transform: scale(0.9);
	}
	&--active {
		pointer-events: none;
		transition: none;

		border: solid 5px rgb(2, 141, 216);
	}
}

.checkout__step_btns {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.checkout_content_metadata {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: rgb(162 173 182);
}
.checkout__metadata_address {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 5px;
}

.metadata__address {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
}

.checkout__content_pricelist {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	overflow-y: scroll;
	padding: 20px;
	gap: 40px;
	&--noscroll {
		overflow-y: hidden;
	}
}

.checkout__album {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.checkout__album_data {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.checkout__album_data_name_size {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	span {
		font-family: "Raleway", sans-serif;
		font-size: 16px;
		line-height: 19px;
		color: rgb(162 173 182);
	}
	margin-bottom: 10px;
}
.checkout__album_data_options {
	li {
		font-family: "Raleway", sans-serif;
		font-size: 16px;
		color: rgb(162 173 182);
		line-height: 20px;
		&:before {
			content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
			color: rgb(255 183 173); /* Change the color */
			font-weight: bold; /* If you want it to be bold */
			display: inline-block; /* Needed to add space between the bullet and the text */
			width: 1em; /* Also needed for space (tweak if needed) */
			margin-left: -1em; /* Also needed for space (tweak if needed) */
		}
	}
}
.checkout__album_price {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: rgb(110 122 133);
}

.checkout__album_data_preview {
	img {
		width: 100px;
		height: 100px;
	}
	margin-bottom: 5px;
}

.checkout__success {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	span {
		font-weight: bold;
		font-size: 18px;
		line-height: 32px;
		color: rgb(92 92 92);
	}
}
