.size__preview{
    position: relative;
    top:0;
    right: 0;
    left:0;
    bottom: 0;
    z-index: 101;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.size__default_book{
    background: linear-gradient(89.68deg, rgb(244 246 247) 0.22%, rgb(220 220 222) 2.93%, rgb(231 233 235) 4.22%, rgb(231 233 235) 99.81%);
    border-radius: 5px 3px 3px 5px;
    box-shadow: 0px 6px 11px #d7dae1;
    &--quadratic{
        width: 60%;
        &::after{
            content: "";
            display: block;
            padding-bottom: 100%;
          
        }
    }
    &--landscape{
        width: 80%;
        &::after{
            content: "";
            display: block;
            padding-bottom: 60%;
          
        }
    }
    
}

.size__albumname{
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    right: 0%;
    bottom: 0;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    z-index: 102;
    transform: scale(1.5);
    span{
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #5C5C5C;
    }
    input{
        border: 1px solid #D8D8D8;
        padding-left: 18px;
        font-size: 14px;
        line-height: 16px;
        width: 190px;
        height: 42px;
        border-radius: 7px;
        outline: none;
    }
}