.cnsr__pages{
    display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;

}




.cnsr__pages_leftside{
    flex: 0 0 110px;
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(90 102 133) 0%, rgb(43 60 85) 76.92%);

}


.cnsr__pages_rightside {
    flex: 0 0 300px;
    max-height: calc(100vh - 90px);
    padding-left: 30px;
    background: #ffffff;
      overflow-y:scroll;
      
      
    
  }


.cnsr__pages_types{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}



.pages__types_item {
    width: 110px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  transition: ease all 1s;

    cursor: pointer;
    span {
      font-size: 12px;
      color: rgb(181 193 220);
      font-family: "Raleway", sans-serif;
    }
    .pages__types_img {
      svg {
        fill: rgb(181 193 220);
      }
    }
    &--active {
      background-color: #ffffff;
      pointer-events: none;
      .pages__types_title {
        span {
          color: rgb(56 71 98);
        }
      }
      .pages__types_img {
        svg {
          fill: rgb(56 71 98);
        }
      }
    }
  }

  .pages__type_content{
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-right: 10px;
      padding-left: 10px;
      margin-bottom: 40px;
      


  }


  .pages__type_templates_side{
      margin-bottom: 20px;
     
  }
  .pages__type_templates_leftside{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .pages__type_title{
    font-size: 18px;
    color: rgb(104 114 129);
    font-weight: 700;
    margin-bottom: 5px;
  }

  .pages__type_description{
    margin-bottom: 9px;
    font-size: 16px;
    color: rgb(104 114 129);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }

  .pages__type_templates{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: flex-start;
      align-items: center;
  }

  .pages__type_tmpl{
      position: relative;
      top:0;
      left:0;
      right: 0;
      bottom: 0;
      z-index: 101;
      width: 62px;
      height: 62px;
      background-color: #F3F3F3;
      cursor: pointer;
  }

  .pages__type_centerside_tmpl{
    position: relative;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 101;
    width: 93px;
    height: 48px;
    background-color: #F3F3F3;
    cursor: pointer;

  }


  .pages__type_centerside_tmpl_landscape{
    position: relative;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 101;
    width: 93px;
    height: 48px;
    cursor: pointer;

    background-color: #F3F3F3;
  }

  

  .pages__type_element{
    position: absolute;
    background-color: rgb(225 225 225);
    border: 0;
    outline: none;
  }


  .pages__type_content_color{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
  }
  .pages__colors_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .pages__colors_leftside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .pages__colors_title{
    font-size: 18px;
    color: rgb(104 114 129);
    font-weight: 700;
    margin-bottom: 5px;
  }

  .pages__colors_description{
    color: rgb(181 178 194);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .pages__colors{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap:10px;
  }

  .pages__colors_item{
    cursor: pointer;
    border:1px solid rgb(206 214 230);
    border-radius:7px;
    height: 45px;
    width: 45px;
  }
 
