/** @format */

.pages__preview {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	display: flex;
	width: 100%;
	height: calc(100vh - 100px);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pages__upload {
	position: absolute;
	bottom: 0;
	left: -300px;
	z-index: 101;
	height: 90px;
	width: calc(100% + 300px);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: rgb(255 255 255);
	box-shadow: 0 2px 30px rgb(69 83 83 / 20%);
	.swiper {
		margin-left: 20px;
	}
	label {
		width: 42px;
		height: 42px;
		border: 2px solid rgb(243 243 243);
		fill: rgb(167 179 208);
		border-radius: 50%;
		transition: all ease 0.3s;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			fill: black;
			background-color: #dde4ee;
		}
	}
	&--behavior {
		overscroll-behavior: none;
	}
}

.pages__uploader {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pages__selector {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	.swiper {
		margin-left: 0 !important;
	}
}

.pages__selector_page {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 101;
	border: 2px solid rgb(220 227 237);
	min-width: 80px;
	min-height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgb(255 255 255);
	transition: 0.3s;
	cursor: pointer;
	span {
		font-size: 12px;
		color: rgb(166 166 166);
	}

	&--justPreview {
		margin-right: 0;
	}
	&--noValid {
		border-color: #e74c3c;
	}
	&--active {
		border-color: rgb(150 211 244);
		margin-right: 14px;
	}
	.pages__selector_page_delete {
		position: absolute;
		top: 1px;
		right: 1px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: rgb(175, 175, 175);
		transition: ease all 0.3s;

		svg {
			fill: rgb(0 0 0);
		}
		cursor: pointer;
		&:hover {
			background-color: black;
			svg {
				fill: white;
			}
		}
	}
}

.pages__selector_page_add {
	position: absolute;
	right: -28px;
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	font-size: 12px;
	height: 16px;
	border-radius: 50%;
	background-color: rgb(175, 175, 175);
	color: black;
	transition: ease all 0.3s;
	&:hover {
		background-color: black;
		color: white;
	}
}
// .swiper-slide {
// 	position: relative !important;
// 	top: 0 !important;
// 	left: 0 !important;
// 	right: 0 !important;
// 	bottom: 0 !important;
// 	z-index: 1001 !important;
// }
.pages__uploads_item {
	position: static;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	cursor: pointer;
	height: 80px;
	width: 80px;
	border-radius: 7px;
	transition: ease all 0.3s;

	&--disabled {
		cursor: not-allowed !important;
		user-select: none !important;
		opacity: 0.3 !important;
	}
	img {
		width: 80px;
		height: 80px;
		object-fit: cover;
		object-position: center;
		border-radius: 7px;
	}
}

.pages__arrows {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.pages__arrow {
	width: 42px;
	height: 42px;
	border: 2px solid rgb(243 243 243);
	fill: rgb(167 179 208);
	border-radius: 50%;
	transition: all ease 0.3s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		fill: black;
		background-color: #dde4ee;
	}
}
.swiper-slide {
	width: auto !important;
}

.pages__uploads_item_delete {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: rgb(175, 175, 175);
	fill: rgb(0 0 0);
	transition: ease all 0.3s;
	cursor: pointer;

	svg {
		transition: ease all 0.3s;
	}
	&:hover {
		background-color: black;
		svg {
			fill: white;
		}
	}
}

.pages__uploads_item_percent {
	position: absolute;
	display: flex;
	margin: auto 0;
	justify-content: flex-start;
	align-items: center;
	left: 10%;
	bottom: 15px;
	height: 8px;
	width: 80%;

	border-radius: 10px;
	background-color: white;
}
.pages__uploads_item_percent_value {
	height: 8px;
	border-radius: 10px;
	background-color: #07bc0c;
}

.pages__paper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 6px 11px #d7dae1;
	&--quadratic {
		transform: scale(0.75);
	}
	&--landscape {
		transform: scale(0.9);
	}
}

.pages__paper_quadratic {
	width: 100%;
	background: rgb(255 255 255);
	display: flex;
	justify-content: center;
	align-items: center;
	&::after {
		content: "";
		display: block;
		width: 3px;
		height: 100%;
		background: grey;
		transform: translateX(-50%);
		position: absolute;
		top: 0;
		left: 50%;
		opacity: 0.5;
		z-index: 102;
	}
}

.pages__paper_quadratic_leftside {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	width: 50%;
	height: 100%;
	&::after {
		content: "";
		display: block;

		padding-bottom: 100%;
	}
}

.pages__paper_quadratic_rightside {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	width: 50%;
	height: 100%;
	&::after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
}

.pages__paper_quadratic_ls_element {
	position: absolute;
	display: block;
	background-color: rgb(225 225 225);
	border: 0;
	outline: none;
	user-select: none;
	z-index: 101;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.tmpl__image_controls {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 0;
	display: block;
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
	outline: none;
	width: 50%;
	height: 50%;
	z-index: 2000;
	&--hidden {
		transition: opacity 0.6s ease-out;
		display: none;
	}
}

.pages__image_preview {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: 0;
	right: 0;
	z-index: 1001;
	height: 600px;
	width: 600px;
	box-sizing: border-size;
	opacity: 1;
	transition: ease 0.3s all;
	border-radius: 20px;
	img {
		border-radius: 20px;

		transition: ease 0.3s all;

		object-fit: cover;
		height: 600px;
		width: 600px;
	}

	&--hidden {
		opacity: 0;
		visibility: hidden;
	}
}

.tmpl__image_control {
	position: absolute;
	background-color: rgb(214 239 252);
	padding: 3%;
	border-radius: 50%;
	z-index: 2000;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: ease all 0.3s;

	cursor: pointer;
	svg {
		width: 20px;
		height: 20px;
	}

	&--rotate {
		left: 20px;
		top: 20px;
	}

	&--delete {
		right: 20px;
		top: 20px;
	}

	&--dragging {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0px;
		cursor: default;
		background-color: unset !important;
		.tmpl__dragging_part {
			cursor: pointer;
			transition: ease all 0.3s;
			svg {
				width: 100%;
				min-height: 30px;
				transition: ease all 0.3s;
				fill: rgb(214 239 252);
				@media (max-width: 1458px) {
					min-height: 20px;
				}
			}
			&:hover {
				fill: #fff;
			}
		}
		.tmpl__dragging_row {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 40px;
		}
		&:hover {
			background-color: unset !important;
		}
	}

	&--contain {
		bottom: 20px;
		left: 20px;
	}
	&:hover {
		background-color: #fff;
	}
	@media (max-width: 1666px) {
		svg {
			width: 15px;
			height: 15px;
		}
		&--rotate {
			left: 10px;
			top: 10px;
		}

		&--delete {
			right: 10px;
			top: 10px;
		}

		&--contain {
			bottom: 10px;
			left: 10px;
		}
	}
	@media (max-width: 1404px) {
		svg {
			width: 10px;
			height: 10px;
		}
		&--rotate {
			left: 5px;
			top: 5px;
		}

		&--delete {
			right: 5px;
			top: 5px;
		}

		&--contain {
			bottom: 5px;
			left: 5px;
		}
	}
}

.pages__paper_quadratic--full {
	width: 100%;
	background: rgb(255 255 255);
	display: flex;
	justify-content: center;
	align-items: center;
	&::after {
		content: "";
		display: block;
		width: 3px;
		height: 100%;
		background: grey;
		transform: translateX(-50%);
		position: absolute;
		top: 0;
		left: 50%;
		opacity: 0.5;
		z-index: 102;
	}
}
.pages__paper_quadratic--full_leftside {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	width: 50%;
	height: 100%;
	&::after {
		content: "";
		display: block;

		padding-bottom: 100%;
	}
}

.pages__paper_quadratic--full_rightside {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	width: 50%;
	height: 100%;
	&::after {
		content: "";
		display: block;

		padding-bottom: 100%;
	}
}
.pages__paper_quadratic_centerside {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	width: 100%;
	height: 100%;

	&::after {
		content: "";
		display: block;

		padding-bottom: 50%;
	}
}

.pages__paper_quadratic_cs_element {
	position: absolute;
	display: block;
	background-color: rgb(225 225 225);
	border: 0;
	outline: none;
	user-select: none;
}

//landscape/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.pages__paper_landscape {
	width: 100%;
	background: rgb(255 255 255);
	display: flex;
	justify-content: center;
	align-items: center;
	&::after {
		content: "";
		display: block;
		width: 3px;
		height: 100%;
		background: grey;
		transform: translateX(-50%);
		position: absolute;
		top: 0;
		left: 50%;
		opacity: 0.5;
		z-index: 102;
	}
}

.pages__paper_landscape_leftside {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	width: 50%;
	height: 100%;
	&::after {
		content: "";
		display: block;

		padding-bottom: 60%;
	}
}

.pages__paper_landscape_rightside {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	width: 50%;
	height: 100%;
	&::after {
		content: "";
		display: block;
		padding-bottom: 60%;
	}
}

.pages__paper_landscape_ls_element {
	position: absolute;
	display: block;
	background-color: rgb(225 225 225);
	border: 0;
	outline: none;
	user-select: none;
}

.pages__paper_landscape--full {
	width: 100%;
	background: rgb(255 255 255);
	display: flex;
	justify-content: center;
	align-items: center;
	&::after {
		content: "";
		display: block;
		width: 3px;
		height: 100%;
		background: grey;
		transform: translateX(-50%);
		position: absolute;
		top: 0;
		left: 50%;
		opacity: 0.5;
		z-index: 102;
	}
}
.pages__paper_landscape--full_leftside {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	width: 50%;
	height: 100%;
	&::after {
		content: "";
		display: block;

		padding-bottom: 60%;
	}
}

.pages__paper_landscape--full_rightside {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	width: 50%;
	height: 100%;
	&::after {
		content: "";
		display: block;

		padding-bottom: 60%;
	}
}
.pages__paper_landscape_centerside {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 101;
	width: 100%;
	height: 100%;

	&::after {
		content: "";
		display: block;

		padding-bottom: 50%;
	}
}

.pages__paper_landscape_cs_element {
	position: absolute;
	display: block;
	background-color: rgb(225 225 225);
	border: 0;
	outline: none;
	user-select: none;
}

.pages__uploads_item_uploaded {
	position: absolute;
	top: 5px;
	left: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	svg {
		fill: #07bc0c;
	}
}

#tooltip_id {
	font-size: 14px;
	color: rgb(104, 114, 129);
	font-weight: 500;
	padding: 5px;
	border-radius: 10px;
	font-family: "Montserrat", sans-serif;
}
